#header {
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color:#cccccc;
    border-bottom-width: 2px;
    z-index: 1;
    padding: 10px;
    margin: -8px 0px 0px -8px;
}

.name {
    width: 200px;
    height: 55px;
    background-color: #4aaaa5;
    text-align: center;
    padding: 20px 0px 0px 0px;
    color: whitesmoke;
    z-index: 2; 
    margin: -20px 0px 0px 150px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 23px;
    
}

#main-links {
    float: right;
    display: block;
    margin: -40px 150px 0px 0px;
    z-index: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}
a {
    color: #777777;
}
#main-index {
    width: 960px;
    height: 400px;
    margin: 20px 0px 0px 150px;
    border-style: solid;
    border-color: #dddddd;
    background-color:#ffffff;
    z-index: 1;
    line-height: 1.5;
}

#main-portfolio {
    width: 960px;
    height: 960px;
    margin: 20px 0px 0px 150px;
    border-style: solid;
    border-color: #dddddd;
    background-color:#ffffff;
    z-index: 1;
}

#main-contact {
    width: 960px;
    height: 485px;
    margin: 20px 0px 0px 150px;
    border-style: solid;
    border-color: #dddddd;
    background-color:#ffffff;
    z-index: 1;
}



#body-index {
    background-color: #dddddd;
    z-index: 0;
    height: 760px;
}

#body-contact {
    background-color: #dddddd;
    z-index: 0;
    height: 960px;
}

#body-portfolio {
    background-color: #dddddd;
    z-index: 0;
    height: 960px;
}

.profile-photo {
   float:left;
    margin: 0px 15px 0px 10px;
    
}

.image-left {
   z-index: 4;
    margin: 15px 15px 10px 15px;
    position: relative; 
    width: 20%;
}

.image-right {
    z-index: 4;
    margin: 15px 15px 10px 15px;
    width: 20%;
}

.text-1 {
        z-index: 5;
        position: absolute; 
        top: 307px;
        left: 177px;
        text-align: center;
        width: 152px; 
        background-color: #4aaaa5;
        color: whitesmoke;
        padding: 20px;
        
}

.text-2 {
    z-index: 5;
        position: absolute; 
        top: 307px;
    left: 403px;
        text-align: center;
        width: 152px; 
        background-color: #4aaaa5;
        color: whitesmoke;
        padding: 20px;
}

.text-3 {
    z-index: 5;
        position: absolute; 
        top: 527px;
    left: 177px;
        text-align: center;
        width: 152px; 
        background-color: #4aaaa5;
        color: whitesmoke;
        padding: 20px;
}

.text-4 {
    z-index: 5;
        position: absolute; 
        top: 516px;
    left: 403px;
        text-align: center;
        width: 162px;
        background-color: #4aaaa5;
        color: whitesmoke;
        padding: 15px;
}

.text-5 {
    z-index: 5;
        position: absolute; 
        top: 727px;
    left: 177px;;
        text-align: center;
        width: 152px; 
        background-color: #4aaaa5;
        color: whitesmoke;
        padding: 20px;
}



h2 {
    background-color: #ffffff;
    width: 900px;
    height: 60px;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    padding: 0px 0px 0px 20px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    border-bottom-width: 2px;
    

}

.p-index {
   color: #777777;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   width: 800px;
   
}



#form {
    padding: 20px;
    color: #777777;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   width: 800px;
   line-height: 1.5;
}

.message-box {
    resize: none;
    height: 170px;
    width: 894px;
}

.button {
    background-color: #4aaaa5;
    border: none;
    padding: 6px 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: whitesmoke;
    margin: 10px 0px 0px 0px;
}

footer {
    color: whitesmoke;
    background-color: #666666;
    text-align: center;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 6px;
    height: 30px;
    z-index: 6;

}



